<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <webSocket enabled="false" />
    <handlers>
      <add name="iisnode" path="index.js" verb="*" modules="iisnode"/>
    </handlers>
    <rewrite>
      <rules>
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^index.js\/debug[\/]?" />
        </rule>

        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="index.js"/>
        </rule>
      </rules>
    </rewrite>

    <iisnode node_env="production" nodeProcessCountPerApplication="1" maxConcurrentRequestsPerProcess="1024" maxNamedPipeConnectionRetry="24" namedPipeConnectionRetryDelay="250" maxLogFileSizeInKB="128" loggingEnabled="true" debuggingEnabled="false" devErrorsEnabled="false" watchedFiles="*.js;node_modules\*;routes\*.js;views\*.jade" interceptor="&quot;%programfiles%\iisnode\interceptor.js&quot;" nodeProcessCommandLine="&quot;%programfiles%\nodejs\22.2.0\node.exe&quot;"/>
    
  </system.webServer>
</configuration>
